@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 34.3vw;
  min-width: 275px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-auth {
  width: 18vw;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-auth .icon-riot {
  margin: 35% auto 12% auto;
  width: 45px;
  height: 45px;
}

.form-auth .header-login {
  width: 120px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
}

.login {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type=password], input[type=text] {
  background: #EDEDED;
  padding: 10px;
  width: 240px;
  height: 40px;
  border-radius: 4px;
  box-sizing:border-box;
  border: 1px solid rgb(233, 233, 233);
  
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
::placeholder {
  color: #A0A0A0;
}

.right-content {
  position: fixed;
  width:61vw;
  height: 100%;
}

.video-background {
  min-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.social {
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.social img {
  width: 15px;
  height: 15px;
}

.social div{
  height: 27px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 3px #d1d1d1;
}

#facebook {
  background-color: #1877F2;
}

#facebook:hover {
  background-color: #176ee0;
}

#google {
  background-color: #ffffff;
}

#google:hover {
  background-color: #f7f7f7;
}
#apple {
  background-color: black;
}

label input {
  display: none; /* Hide the default checkbox */
}

/**************************************************/


.container {
  display: block;
  position: relative;
  top: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #211E1F;
}

/* Hide the default checkbox */
.container input {
  visibility: hidden;
  cursor: pointer;
}

/* Create a custom checkbox */
.mark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: lightgray;
}

.container input:checked ~ .mark {
  background-color: #D13639;
}

/* Create the mark/indicator (hidden when not checked) */
.mark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the mark when checked */
.container input:checked ~ .mark:after {
  display: block;
}

/* Style the mark/indicator */
.container .mark:after {
  left: 3px;
  top: 1px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/**********************************************/
.box-btn-login {
  background-color: #D13639;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-login {
  height:30px;
  width: 40px;
  color:white;
}

.box-btn-login:hover {
  background-color: #BC252A;
}

/*********************************/

#footer-right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 45px;
}

.user-help {
  color: #B2B2C2;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
}

.user-help span:hover {
  color: black;
}

.version-app {
  color: #B2B2C2;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 9px;
  margin: 0px 35px 0px -55px;
  cursor: pointer;
}

.version-app:hover {
  color: black;
}

/******************************************/

@media (max-width: 768px) {
  .right-content {
    display: none;
  }

  .video-background {
    display: none;
  }

  .left-content {
    width: 100vw;
    min-width: 275px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*************/

@media (min-width: 1280px) {
  .left-content {
    margin: auto;
  }
  input[type=password], input[type=text] {
    width: 100%;
  }
  .social {
    width: 100%;
  }
}