* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-container {
  width: 30vw;
  height: 100%;
  background: red;
  display: flex;
  flex-direction: row;
}
.right-container {
  width: 70vw;
  height: 100%;
  background: slateblue;
}

.login{
  margin: 0;
  width: 100%;
  height: 100%;
}
